* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    scroll-behavior: smooth;

}


:root {
    --yellow: #F5C32C;
    --orange: #FCA61F;
    --black: #242D49;
    --gray: #788097;
    --blueCard: #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --white: #ffff;
}


.con {
    width: 90%;
    max-width: 78.125rem;
    margin: 0 auto;
}

.navcl {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;
    align-items: center;
    font-size: 1.25rem;

}

a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.navcl>nav>ul {
    display: flex;
    gap: 2rem;
}



.navcl ul>a:hover {
    color: var(--orange);
    cursor: pointer;
}

button {
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;

    width: 7.5rem;
    height: 2rem;

}

button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);
}

.navcl .m-icon {
    display: none;

}

.n-name {
    font-size: 2rem;

}



.i-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 1.5rem;
}

.i-name :nth-child(1) {
    font-size: 28px;

}

.i-name :nth-child(2) {
    font-size: 3rem;
    color: var(--orange);

}

.i-name :nth-child(3) {


    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
    line-height: 22px;

}




.i-icons {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.i-icons img {
    width: 35px;
    padding: 5px;
    border-radius: 10px;
}

.i-icons>*:hover {
    cursor: pointer;
    border: 1px solid var(--orange);
}

/* into css will start */


.intro {


    display: flex;
    padding: 50px 0;
    gap: 2rem;
    align-items: center;
    min-height: 80vh;
}

.right-wrapper::before {
    content: ' ';
    position: absolute;
    width: 14rem;

    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: 0%;
    right: 0;
    /* transform: translate(-50%, 0); */
    filter: blur(72px);
}

.left {
    /* width: 100%; */
    flex: 1;

}



.fixed {

    position: fixed;
    right: 0;
    transform: translate(-50%, 0);
}


.right-wrapper {
    flex: 1;
    position: relative;

}

.right {
    max-width: 500px;
    width: 100%;
    position: relative;
}

.right-wrapper .right .main-img img:nth-child(1) {
    width: 100%;
}

.right-wrapper .right .main-img .vector {
    width: 50%;
    max-width: 300px;
    top: 50%;

    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    z-index: -1;
}

.right-wrapper .right .main-img img:nth-child(2) {
    top: 40%;
}

.around {
    position: absolute;
    gap: 10px;
    align-items: center;

    display: flex;


}

.a1 {
    right: 0;
    top: -20px;
    z-index: -1;
}



.a1,
.a2 {
    background-color: #fdfdfd;
    padding: 2px 5px;

    border-radius: 5px;
    box-shadow: 0px 1px 2px 2px rgb(172 167 167 / 18%);
}

.without-text {
    top: 50%;
}


.around img {
    width: 40px;
}

.without-text img {
    width: 80px;
}

.ser {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;

}

.ser::before {
    content: ' ';
    position: absolute;
    width: 16rem;

    height: 16rem;
    border-radius: 50%;
    background: #edd0ff;

    z-index: -9;
    top: 10%;
    right: 10px;

    filter: blur(72px);
}

.s-con {
    width: 50%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.ser span {
    color: var(--orange);

}

h2 {
    font-size: clamp(16px, 8vw, 36px);
}

.ser img {
    width: 80px;
}

.ser .cards {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 1rem;
    min-height: 600px;
    align-items: center;
    position: relative;


}

.ser .cards .two {
    position: absolute;
    top: -20%;
    right: 0;


}

.ser .cards .three {
    position: absolute;
    top: 50%;
    right: 5%;


}

.ser .cards .card ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}

.ser .cards .card ul>li {
    list-style: none;
    background: #cec4c400;
    padding: 2px 5px;
    border: 1px solid #00000066;
    border-radius: 8px;

}

.ser .card a {
    background: #fff;
    text-decoration: none;
    border-radius: 7px;
    box-shadow: 0 19px 60px rgb(0 0 0 / 8%);
    color: #5290fd;
    font-size: 16px;
    padding: 10px;
}

.ser .card {
    width: 250px;
    min-height: 300px;
    padding: 10px 20px;

    background: hsla(0, 0%, 100%, .26);
    border: 7px solid var(--orangeCard);
    border-radius: 20px;
    box-shadow: var(--boxShadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;

    transition: all ease-in 500ms;
}

.ser .card:hover {
    background: transparent;
    border: 6px solid rgb(147 147 141 / 22%);
    box-shadow: 5px 3px 0px 0px #bfbbbb;
}

/* eduction section css  */
.education {
    position: relative;

    margin: 100px auto;
    display: grid;


    align-content: space-between;
}

.education h2 {
    text-align: center;
    margin-bottom: 50px;
}

.education .educations {
    position: relative;
}

.educations::before {

    content: "";
    position: absolute;
    width: 2px;
    height: 100%;

    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: var(--yellow);
    border: 2px solid white;
}

.education .ed {
    margin-bottom: 20px;
    color: #161a20;

    background-color: #ffffff;
    position: relative;
    border: 1px solid #eaeaea;
    padding: 20px;


    cursor: pointer;
    transition: all 0.4s;
}

.education .ten {
    margin: 0;
}

.education .ed:hover {
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}

.education .ed::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;

    left: 0;
    z-index: 1;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: var(--orange);
    border: 2px solid white;
}

.education h4 {
    color: var(--orange);
}

.education h3 {

    padding: 10px 0px 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

.education p {

    color: #666;

}



@media screen and (max-width:768px) {

    .navcl>nav>ul {
        display: none;
    }

    .navcl>nav>.show {

        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        background: rgba(245, 243, 245, 0.314);
        backdrop-filter: blur(5px);
        left: 50%;
        transform: translate(-50%, 0);
        align-items: center;
        min-height: 100vh;
        padding: 20px;
        flex-direction: column;
        display: flex;
        align-content: stretch;
        z-index: 2;
        justify-content: center;
        transition: left 500ms ease;
    }
.active{
    left:0;
}
    .navcl .m-icon {

        background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
        box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
        border-radius: 34px;
        border: none;
        color: white;
        font-size: 16px;
        height: 35px;
        width: 35px;
        display: flex;
        z-index: 2;
        align-items: center;
        justify-content: center;
    }

    .navcl .m-icon img {
        padding: 2px;
    }

    .navcl button {
        display: none;
    }

    .intro {
        flex-direction: column;
        margin: 100px 0;
    }

    .intro .left {
        padding-bottom: 50px;
    }

    .intro .left,
    .right {
        width: 100%;
    }


    /* service  section will start*/
    .ser {
        gap: 4rem;
    }

    .ser .cards .two {





        position: unset;

    }

    .s-con {
        width: 100%;
        overflow: hidden;
    }

    .ser .cards .three {
        position: unset;


    }

    .ser .cards {
        flex-direction: column;
    }

    .education .ed {
        padding: 10px;
    }

    .education .ed::before {
        display: none;
    }

    .educations::before {
        display: none;
    }

    .education .ed {
        margin-bottom: 50px;
    }

}

@media screen and (max-width:960px) {
    .ser .cards .two {
        position: unset;
    }

    .ser .cards .three {
        position: unset;
    }

    .ser::before {
        top: 50%;
    }
}
